/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color:#FF8DCB;;
  --color-section-text: #FFF1F7;
  --text-color:#353430;
  --text-main-color:#353430;
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --font-style: normal;
  --font-weight: 700;
  --line-height: 130%; /* 130% */
  background-image:url(/images/cover-image-light.png)
}

.theme_light .decoration_elements{
  display: none;
}
.theme_light .title{
  color:#FFC2E6;
  }
  .theme_light .header__theme-menu-button {
    color: var(--text-color);
  }
/* 
  .theme_light .header__theme-menu-button {
    
    border: 1px solid var(--text-color);
  } */

  .theme_light .paragraph {
    
    color: var(--text-color);
  }

  .theme_light .chapter {
    color: var(--text-color);
  }