/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff8dcb;
  --color-section-text: #fff1f7;
  --text-color: #353430;
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --font-style: normal;
  --font-weight: 700;
  --line-height: 130%; /* 130% */
  --title-color:#FFC2E6;
  --border-color-light-theme: #353430 ;
  --color-shadow: #ff0070;
  --background-image: url(/images/cover-image-light.png);
}

.theme_light .decoration_elements {
  display: none;
}
.theme_light .title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}
.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.theme_light .paragraph {
  color: var(--text-color);
}

.theme_light .chapter {
  color: var(--text-color);
}
.theme_light .title_decor {
  color: var(--text-color);
}

.theme_light .header__theme-menu-button_active {
  border-color: var(--border-color-light-theme);
}
.theme_light .decorated-zone::before {
  border-color:var(--border-color-light-theme);
}

.theme_light .decorated-zone::after {
  border-color: var(--border-color-light-theme);
}

.theme_light .title_gallery {
  color: var(--color-section-text, #000028);
  background-color: var(--accent-color, #ff8dcb);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--border-color-light-theme);
  cursor: pointer;
}
.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color-light-theme);
}
.theme_light .title_gallery {
  color: var(--text-color);
  background-color: var(--accent-color);
}

@media (width >= 1024px) {
  .theme_light .title {
    text-shadow: 4px 4px 0px var(--color-shadow);
  }
}
@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --color-section-text: #fff1f7;
    --text-color: #353430;
    --font-family: "IBM Plex Mono";
    --font-size: 18px;
    --font-style: normal;
    --font-weight: 700;
    --line-height: 130%; /* 130% */
    --title-color:#FFC2E6;
    --border-color-light-theme: #353430 ;
    --color-shadow: #ff0070;
    --background-image: url(/images/cover-image-light.png);
  }

  .decoration_elements {
    display: none;
  }
  .title {
    color:var(--title-color);
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  .header__theme-menu-button {
    color: var(--text-color);
  }

  .paragraph {
    color: var(--text-color);
  }

  .chapter {
    color: var(--text-color);
  }
  .title_decor {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    border-color: var(--border-color-light-theme);
  }
  .decorated-zone::before {
    border-color: var(--border-color-light-theme);
  }

  .decorated-zone::after {
    border-color: var(--border-color-light-theme);
  }
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
    cursor: pointer;
  }
  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--border-color-light-theme);
  }
  .title_gallery {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  @media (width >= 1024px) {
    .title {
      text-shadow: 4px 4px 0px var(--color-shadow);
    }
  }
}
