/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--color-section-text, #000028);
  background-image: var(--background-image);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
}

.header {
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: auto;
  align-items: center;
  min-height: 668px;
  margin-block-end: 40px;
  min-block-size: 100vh;
  width: 100%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color, #ff0070);
  border-bottom: 1px solid var(--accent-color, #ff0070);
  bottom: 10px;
  left: 10px;
}

.decoration_elements {
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 60px;
  right: 10px;
  top: 10px;
}

.decoration_elements::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color, #ff0070);
  font-size: var(--font-size);
  font-family: var(--font-family), monospace;
  font-weight: 400;
  line-height: 25px;
}

.decoration_elements::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  right: 9px;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px var(--accent-color, #ff0070);
  top: 8px;
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  outline: none;
  color: var(--accent-color, #ff0070);
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color, #ff0070);
  pointer-events: none;
}

.header_paragraph {
  justify-self: end;
  max-inline-size: max(
    min(100%, 100vw * (9 / 393) - 375px * (9 / 393) + 355px),
    50%
  );
  /*Где 9 = 375-364 - разница ширины блока параграфа, 393= 768-375 - разница  ширины разрешений экрана */
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "content";
  gap: 20px;
  padding: 0px 10px;
}

.content_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: content;
}
.content {
  display: grid;
  gap: 10px;
}

.title_decor {
  color: var(--color-section-text, #000028);
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--accent-color, #ff0070);
}
.chapter {
  color: var(--accent-color);
  background-color: transparent;
  grid-area: title;
}

.paragraph {
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus-visible {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.section_gallery {
  gap: 10px;
}

.title_gallery {
  color: var(--color-section-text, #000028);
  background-color: var(--accent-color, #ff0070);
}

.image_section_gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  gap: 10px;
  margin-block-end: 40px;
}
.image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-block-size: 100vh;
  width: 100%;
}
.title_footer {
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .title_header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decoration_elements::before {
    top: 10px;
    right: 40px;
  }
  .decoration_elements::after {
    right: 19px;
    top: 18px;
  }
  .main {
    gap: 80px;
  }
  .section {
    padding: 0px 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "title content";
  }
  .section_two {
    grid-template-areas:
      "title ."
      "content content";
  }

  .section_gallery {
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "content content";
    gap: 20px;
  }

  .image_section_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-area: content;
    gap: 20px;
    margin-block-end: 60px;
  }
  .horizontal_image {
    grid-column: span 2;
  }
  .vertikal_image {
    grid-row: span 2;
  }
  .footer {
    padding: 20px;
  }
  .title_footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .section {
    grid-template-columns: calc((100% - 2 * 20px) / 3) 1fr;
  }
  .content_section_two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}
