/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--color-section-text);
  background-image:url(/images/cover-image-dark.png);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  
}

.header{
  display: grid; 
  padding:10px;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
}

.decorated-zone{
  position: relative;
  
}

.decorated-zone::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top:10px;


}

.decorated-zone::after{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 10px ;
  left:10px;

}

.decoration_elements{
  position: absolute;
  block-size: 25px;
  inline-size: 60px;
  right: 10px;
  top: 10px;
  
}

.decoration_elements::before{
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  font-size: var(--font-size);
  
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 25px;  
}

.decoration_elements::after{
  content: '';
  width: 9px;
  height: 9px;
  /* border: 5px solid var(--accent-color); */
  position: absolute;
  right: 9px;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px var(--accent-color);
  top:8px;
  background-color: var(--accent-color);
}


.header__theme-menu{
  display: grid;
 justify-content: end;
 justify-items: center;
 font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  align-items: center;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  
  
  
}

.header__theme-menu-button{
  outline: none;
  color: var(--accent-color);
  border:none;
  background-color: transparent;
 
}

.header__theme-menu-button_type_dark{
  padding: 0px 13px; 
  border:1px solid var(--accent-color);
}

.title{
  color:#DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.text{
  color:var(--text-color);
  font-family: var(--font-family);
  background-color: var(--accent-color);

}


.section{
  background-color: var(--color-section-text);
  color:var(--text-main-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  display: grid;
  gap:20px;
  padding: 10px; 
  
  



}

.chapter{
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  line-height: var(--line-height);

}

.paragraph{
  background-color: var(--accent-color);
  color: var(--color-section-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  align-self: center;
  



}


.image{
  width:100%;
  
  
}

.section_one{
  display: grid;
  gap:20px;
  padding-block-start: 40px;

}

.content_section_one{
  display: grid;
  gap: 10px;

}